.container.amblyopia {
    border: 1px solid black; 
    width: 80%; 
}

.container.amblyopia li{
    margin-top: 5px;
}

@media screen and ( max-width: 500px) {
    .container.amblyopia {
        width: 100%; 
    }
}

.images {
    width: 100%; 
}
.images img {
    margin-left: 5%; 
    width: 40%; 
}

.images img:first-of-type {
    margin-left: 0; 
}