.container.conjunctivitis {
    border: 1px solid black; 
    width: 80%; 
}

.container.conjunctivitis li{
    margin-top: 5px;
}

@media screen and ( max-width: 500px) {
    .container.conjunctivitis {
        width: 100%; 
    }
}