#headshot {
    width: 200px;  
    margin-top: 5%; 
    margin-left: auto; 
    margin-right: auto; 
}

.container-fluid.scharf img {
    margin-left: auto; 
    margin-right: auto; 
}

.scharf {
    background-color: #fafafa; 
}

.cohen {
    background-color: #e8e6e6; 
}