#headshot {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    margin-top: 5%; 
    margin-left: auto; 
    margin-right: auto; 
    overflow: hidden;
    border: 1px solid black; 
}

.scharf {
    background-color: #fafafa; 
}

.cohen {
    background-color: #e8e6e6; 
}