.container.eye-care {
    border: 1px solid black; 
    width: 80%; 
}

.container.eye-care li{
    margin-top: 5px;
}

@media screen and ( max-width: 500px) {
    .container.eye-care {
        width: 100%; 
    }
}