h3.footer {
    color: #0089E5; 
    font-weight: 300;
}

li{
    margin-top: 10px;
}

#privacy {
    margin-left: 5em; 
}

.container.footer {
    padding-top: 30px; 
    padding-bottom: 30px; 
}

.container.footer ul {
    font-size: 14px; 
}

.container.footer address {
    font-size: 15px; 
}

h5 {
    font-size: 18px; 
    color: green;
}