.container-fluid img.header {
    width: 250px; 
    height: auto; 
    margin-left: 25%;
}


@media screen and ( max-width: 500px) {
    .container-fluid img.header {
        margin-left: 15%; 
    }
}