.container-fluid img.header {
    width: 250px; 
    height: auto; 
    margin-top: -20px; 
}

.container-fluid .text-center p {
    margin-top: -30px; 

}

@media screen and ( max-width: 500px) {
    .container-fluid img.header {
        margin-left: 15%; 
    }

    .desktop-tel {
        display: none; 
    }
}

@media screen and ( min-width: 500px) {
    .mobile-tel {
        display: none; 
    }
}
address {
    font-size: 20px; 
}

.page-header {
    color: #0089E5; 
    font-size: 22px; 
}

.lead {
    color: black !important;
}

nav p, nav ul {
    font-size: 14px !important; 
}